<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Get CRUD</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .btn-edit {
        background: yellow;
        border: none;
        outline: none;
        border-radius: 10px;
        height: 30px;
        width: 50px;
        cursor: pointer;
        display: inline-table;
        text-align: center;
    }

    .btn-delete {
        background: rgb(247, 53, 95);
        border: none;
        outline: none;
        border-radius: 10px;
        height: 30px;
        width: 50px;
        cursor: pointer;
        display: inline-table;
        text-align: center;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>

        </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>

                    <a class="btn-edit " href="/edit-crud?id=<%= data[i].id %>" type="button">Edit</a>
                    <a href="/delete-crud?id=<%= data[i].id %>" class="btn-delete" type="button">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>